<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>knowledge</key>
	<array>
		<array>
			<string>Java</string>
			<string>Ruby</string>
			<string>Business Analysis</string>
			<string>Objective-C</string>
			<string>Project Management</string>
			<string>Agile</string>
		</array>
		<array>
			<string>Java</string>
			<string>Ruby</string>
			<string>C/C++</string>
			<string>Agile</string>
			<string>Drive</string>
			<string>Stock</string>
		</array>
		<array>
			<string>Java</string>
			<string>Ruby</string>
			<string>Frontend</string>
			<string>Responsive Design</string>
			<string>Office update</string>
		</array>
		<array>
			<string>Java</string>
			<string>Ruby</string>
			<string>Testing</string>
		</array>
		<array/>
		<array/>
		<array/>
		<array/>
		<array/>
		<array/>
		<array/>
		<array/>
	</array>
	<key>profile</key>
	<array>
		<string>huan.png</string>
		<string>cuistnut.jpeg</string>
		<string>fuer.jpeg</string>
		<string>yangmei.jpeg</string>
		<string>creme_brelee.jpg</string>
		<string>creme_brelee.jpg</string>
		<string>creme_brelee.jpg</string>
		<string>creme_brelee.jpg</string>
		<string>creme_brelee.jpg</string>
		<string>creme_brelee.jpg</string>
		<string>creme_brelee.jpg</string>
	</array>
	<key>age</key>
	<array>
		<string>24</string>
		<string>27</string>
		<string>27</string>
		<string>27</string>
		<string>33</string>
		<string>33</string>
		<string>29</string>
		<string>27</string>
		<string>25</string>
		<string>25</string>
		<string>27</string>
	</array>
	<key>name</key>
	<array>
		<string>unclehuan</string>
		<string>cuistnut</string>
		<string>fuer</string>
		<string>muggleyoung</string>
		<string>husuo</string>
		<string>michaelchen</string>
		<string>JPC</string>
		<string>zation</string>
		<string>wangni</string>
		<string>dujuan</string>
		<string>chaojiwudi</string>
	</array>
</dict>
</plist>
